/** EWW.SCSS
Created by saimoom
Edited by iliqKichev
**/

@import "./macchiato.scss";


* {
	all: unset;
}

.btn {
	margin: 0.2rem 0.6rem;

	label {
		font-family: JetBrainsMono Nerd Font;
	}
}

.selectable:hover {
	background: red;
}

.powerbtn {
	margin: 0rem 1.2rem;

	label {
		font-size: 2rem;
		color: $red;
	}
}

.wifi {
	label {
		font-size: 1.5rem;
		color: $mauve;
	}
}

.clock {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0rem 0.5rem
}

.date {
	font-size: 1rem;
	margin: 0rem 0.5rem;
}

.circBar {
	background-color: #38384d;
	border-radius: 0.8rem;
	margin: 0rem 0.3rem;

	label {
		font-family: DaddyTimeMono Nerd Font;
		font-size: 1.3rem;
	}
}

.mem {
	color: $yellow;

	label {

		color: $yellow;
	}
}

.bat {
	color: $green;

	label {
		color: $green;
	}
}

.cpu {
	color: $red;

	label {
		color: $red;
	}
}


.essid {
	margin: 0px 0.5rem;

	label {
		font-family: DaddyType Nerd Font;
		font-size: 1.4rem;
	}
}

.speaker {

	label {
		padding: 0 1rem 0 0;
		font-size: 1.5rem;
		color: $blue;
	}
}


.bright {
	font-size: 1.5rem;
	color: $peach;
	margin: 0px 10px 0px 10px;
}


.separ {
	color: $base;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0rem 0.3rem
}


scale trough {
	all: unset;
	background-color: $blue;
	// box-shadow: 0 2px 3px 2px #06060b;
	border-radius: 16px;
	min-height: 10px;
	min-width: 70px;
	margin: 0px 10px 0px 0px;
}

.works {
	font-size: 27px;
	font-weight: normal;
	margin: 5px 0px 0px 20px;
	background-color: #0f0f17;
}

/*
.0
.01,
.02,
.03,
.04,
.05,
.06,
.011,
.022,
.033,
.044,
.055,
.066 {
	margin: 0px 10px 0px 0px;
}
*/

/* Unoccupied */
/*

.0 {
	color: #3e424f;
}

*/

/* Occupied */
/*
.01,
.02,
.03,
.04,
.05,
.06 {
	color: #bfc9db;
}
*/

/* Focused */
/*
.011,
.022,
.033,
.044,
.055,
.066 {
	color: #a1bdce;
}
*/

.song_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 100px;
}

.song {
	color: #a1bdce;
	font-size: 18px;
	font-weight: bold;
	margin: 3px 5px 0px 0px;
}

.song_btn_play {
	color: #a1bdce;
	font-size: 28px;
	margin: 3px 0px 0px 5px;

}


.song_btn_prev,
.song_btn_next {
	color: #bfc9db;
	font-size: 24px;
	margin: 3px 0px 0px 5px;

}

// Calendar
.cal {
	background-color: $crust;
	font-family: DaddyTime Nerd Font;
	font-size: 1rem;
	font-weight: normal;
	border-radius: 10px;

	.cal-in {
		padding: 0px 0.7rem;
		color: $text;

		.cal {
			padding: 5px;

			&.highlight {
				background: $surface1;
				color: $text;
			}

		}

	}

	&:selected {
		color: $base;
		background: $text;
	}
}

/**
calendar {
	color: #bfc9db;
}

calendar:selected {
	color: #a1bdce;
}

calendar.header {
	color: #a1bdce;
	font-weight: bold;
}

calendar.button {
	color: #afbea2;
}

calendar.highlight {
	color: #a1bdce;
	font-weight: bold;
}

calendar:indeterminate {
	color: #bfc9db;
}
**/

.music_pop {
	background-color: #0f0f17;
	border-radius: 16px;
}

.music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
	box-shadow: 5px 5px 5px 5px #06060b;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}

.music {
	color: #a1bdce;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px 0px -15px;
}

.music_artist {
	color: #bbc5d7;
	font-size: 16px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

.music_btn_prev,
.music_btn_play,
.music_btn_next {
	font-family: Iosevka Nerd Font;
}

.music_btn_prev {
	color: #bbc5d7;
	font-size: 32px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

.music_btn_play {
	color: #a1bdce;
	font-size: 48px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

.music_btn_next {
	color: #bbc5d7;
	font-size: 32px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
	background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}

.music_bar scale trough {
	all: unset;
	background-color: #232232;
	box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin: -10px 10px 20px 0px;
}

.audio-box {
	background-color: #0f0f17;
	border-radius: 16px;
}

.speaker_icon {
	background: none;
	//	margin: 10px 20px 5px 20px;
}

.speaker_icon label {
	font-family: JetBrainsMono NF;
	color: #3c98d1;
	font-size: 1.2rem;
}

.speaker_bar scale trough highlight {
	all: unset;
	background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}

.speaker_bar scale trough {
	all: unset;
	background-color: #232232;
	box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 5px 0px;
}




.mic_icon {
	background-size: cover;
	background-image: url('images/mic.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 5px 20px 20px 20px;
	border-radius: 12px;
}

.mic_text {
	color: #a1bdce;
	font-size: 26px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
	background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}

.mic_bar scale trough {
	all: unset;
	box-shadow: 0 6px 5px 2px #06060b;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin: 0px 0px 20px 0px;
}

.audio_sep {
	color: #38384d;
	font-size: 1rem;
	margin: 0px 0px 0px 0px;
}
